@import "tailwindcss";

@font-face {
  font-family: "Literata";
  src: url("../src/assets/font/Literata-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable range */
  font-style: normal;
}


@theme {
  --font-literata: "Literata", sans-serif;
}

mark {
  background-color: rgba(37, 99, 235, 0.1); /* faint blue tint */
  color: inherit;
  border-radius: 3px;
  padding: 0 3px;
}


body {
  background-color: #fff;
  color: #000;
}

hr {
  border-color: #dcdcdc;
}